body{
    background: black;
    height: fit-content;
    width: fit-content;
}

h1{
    position: relative;
    top: 1rem;
    left: 2.8rem;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}
span{
    color: rgb(0, 63, 156);
    text-shadow: 0px 1px 2px rgb(0, 48, 207) ;
    

}
.nav-bar{
    color: antiquewhite;
    display: inline-flex;
    gap: 20px;
    position: relative;
    top: -2.8rem;
    left: 66rem;
    font-size: 18px;
    font-family: cursive;
    cursor: pointer;
    

}
.nav-bar > a{
    color: white;
    text-decoration: none;



}
a:hover,
a.active{
   color: aqua;
   transition: 2s;
    
    
}
section{
    color: aliceblue;
    position: relative;
    top: 110px;
    left: 280px;
    font-size: 25px;
    font-family: cursive;
    margin: -px;
}
#cantainer{
    position: relative;
}
h2{
    margin-top: -30px;
    margin-left: -5px;
}
h3{
    margin-top: -30px;
    font-size: 25px;
    
}
#search{
    width: 18rem;
    height: 1.7rem;
    border-radius: 4px;
    font-size: medium;
    border: 1px solid white;
    background: black;
    color: aliceblue;
    ont-family: cursive;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bt{
    text-decoration: none;
    width: 7rem;
    height: 1.5rem;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid black;
    background: rgb(0, 63, 156);
    border: 1px solid white;
    color: aliceblue;
    font-family: cursive;
    font-size: 1rem;
}

#pp{
    height: 200px;
    width: 200px;
    float: right;
    position: absolute;
    top:-0px ;
    left: 650px;
    border: 10px solid rgb(0, 63, 156);
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 0px 50px rgb(0, 63, 156);
}
img:hover{
    transform: scale(1.1);
    transition: 1.5s;
    box-shadow: 0px -0px 40px rgb(0, 63, 156);
}

#pd{
    text-decoration: none;
    width: 220px;
    height: 200px;
    margin-right: -20px;
    padding-left: 90px;
    position: relative;
    top: -225px ;
    left: 800px;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    z-index: 10;
    background: rgb(12, 12, 12);
    box-shadow: 0px 0px 30px rgb(0, 63, 156);
 
}
#pd:hover{
    transform: scale(1.1);
    transition: 1.5s;
    box-shadow: 0px -0px 40px rgb(0, 63, 156);
    
}
#my-skills{
    text-align: center;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
   padding-bottom: 30px;
    margin-left: -70px;
    margin-top: -60px;

}
#my-skills:hover{
    text-shadow : 0px 25px 8px rgb(0, 94, 255);
    transition: 1s;
}
.heading{
    margin: 5px;
    font-family: cursive;
}
.skill{
    position: absolute;
    top: 20px;
    left: 170px;
    width: 500px;
    
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 30px rgb(0, 63, 156);
    border-radius: 15px;
   
}
.skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}
.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12),0px 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0px 14px 28px rgb(0, 63, 156);
    transition: 1.5s;
    transform: scaleX(1.1);
}
.html{
    background: rgb(0, 63, 156);
    display: block;
    height: 10px;
    width: 400px;
    border-radius: 10px;
    text-align: end;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

.css{
    background: rgb(0, 63, 156);
    display: block;
    height: 20px;
    width: 450px;
    border-radius: 10px;
    text-align: end;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    

}
.javascript{
    background: rgb(0, 63, 156);
    display: block;
    height: 20px;
    width: 370px;
    border-radius: 10px;
    text-align: end;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}
.boostrap{
    background: rgb(0, 63, 156);
    display: block;
    height: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: end;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}

    



#projects{
   

    margin-left: 50px;
    position: absolute;
    top: 20px;
    left: 850px;
    height: 525px;
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    border: 1px solid rgb(5, 5, 5);
    box-shadow: 0px 0px 30px rgb(0, 63, 156);
    border-radius: 15px;



}

#my-project{
    
    width: 250px;
    margin-left: 70px;
    margin-top: -60px;
    text-align: center;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}
#my-project:hover{
    text-shadow : 0px 25px 8px rgb(0, 94, 255);
    transition: 1s;
}
#skills-par{
    margin-left: 350px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background: rgb(6, 45, 172);
    padding: 5px;

}
.portfolio-img{
    float: left;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 20px;
    filter: blur(1px);
    text-decoration: none;
    border: 2px solid #353b48;
    border-radius: 9px;


}
#contact-img{
    position: absolute;
    top:230px ;
    left: 20px;
    height: 100px;
    width: 200px;
    filter: blur(1px);
    border-radius: 9px;
}
#contact-p{
    position: absolute;
    top: 240px;
    left: 250px;
    text-decoration: none;
    text-align: justify;
    font-family: cursive;
    color: white;
}
.cal-p{
    position: absolute;
    top: 420px;
    left: 250px;
    text-decoration: none;
    text-align: justify;
    font-family: cursive;
    color: white;
}

#cal-img{
    position: absolute;
    top:410px ;
    left: 20px;
    height: 100px;
    width: 200px;
    filter: blur(1px);
    border-radius: 9px;

}
p{
    text-align: justify;
    font-family: cursive;
    color: white;
    position: absolute;
    top: 50px;
    left: 250px;
}
.img-a{
    text-decoration: none;
    color: rgb(8, 50, 168);
    cursor: pointer;
}
#about{
    position: absolute;
    top: 800px;
    left: 120px;
    height: 700px;
    width: 1300px;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 13px;
    box-shadow: 0px 0px 30px rgb(0, 63, 156);
    color: #fff;
    


}
#about > h1{
    font-family: cursive;
    margin-left: -65px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
   padding-bottom: 30px;
   text-align: center;
    margin-top: -45px;
}
#about > h1:hover{
    text-shadow : 0px 25px 8px rgb(0, 94, 255);
    transition: 1s;
}
#about pre{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
#saud2{
    height: 500px;
    width: 350px;
    position: absolute;
    left: 840px;
    top: -0.1px;
    margin-top: 140px;
    border-radius: 15px;
   
}
#saud2:hover{
    transform: scale(2.0.1);
    
}
.copyright{
    height: 100px;
    width: 1575px;
    background :rgb(0, 63, 156);
    position: absolute;
    top: 1600px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
} 
@media(max-width : 600px){
    h1{
        position: relative;
        top: 0.5rem;
        left: 1.8rem;
        font-size: 1.5rem;
        font-weight: 800;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        
    }
    .nav-bar{
        color: antiquewhite;
        display: inline-flex;
        gap: 20px;
        position: relative;
        top: -1.8rem;
        left: 12rem;
        font-size: 12px;
        font-family: cursive;
        cursor: pointer;
        
    
    }
    section{
        color: aliceblue;
        position: relative;
        top: 100px;
        left: 20px;
        font-size: 25px;
        font-family: cursive;
        margin: -px;
    }
    h2{
       font-size: 20px;
       
    }
    h3{
        margin-top: -20px;
        font-size: 20px;
        
    }
    #search{
       
        width: 12rem;
        height: 1rem;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid white;
        background: black;
        color: aliceblue;
        font-family: cursive;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #bt{
        text-decoration: none;
        width: 4rem;
        height: 1rem;
        border-radius: 5px;
        margin-top: 10px;
        border: 2px solid black;
        background: rgb(0, 63, 156);
        border: 1px solid white;
        color: aliceblue;
        font-family: cursive;
        font-size: 0.5rem;
    }
    
    #pp{
        height: 90px;
        width: 90px;
        
        position: absolute;
        margin-top: 20px;
        left: 200px;
        border: 10px solid rgb(0, 63, 156);
        border-radius: 50%;
        z-index: 100;
        box-shadow: 0px 0px 20px rgb(0, 63, 156);
    }
    #pd{
        text-decoration: none;
        width: 110px;
        height: 150px;
        margin-right: -20px;
        padding-left: 90px;
        position: relative;
        top: -155px ;
        left: 240px;
        font-size: 9px;
        text-align: justify;
        border: 1px solid rgb(12, 12, 12);
        border-radius: 10px;
        z-index: 10;
        background: rgb(12, 12, 12);
        box-shadow: 0px 0px 30px rgb(0, 63, 156);
     
    }
    #pd > pre{
    margin-top: 25px;
        
    }
    #my-skills{
      
        text-align: center;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
       padding-bottom: 30px;
        margin-left: -70px;
        margin-top: -40px;
    
    }
    #my-skills:hover{
        text-shadow : 0px 25px 8px rgb(0, 94, 255);
        transition: 1s;
    }
    .heading{
       
        font-size: 15px;
        font-family: cursive;
    }
    .skill{
        position: absolute;
        top: 10px;
        left: 70px;
        width: 300px;
        margin: 60px auto;
        color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 30px rgb(0, 63, 156);
        border-radius: 15px;
       
    }
    .skill li{
        margin: 20px 0;
        padding: px;
        list-style: none;
    }
    .bar{
        background: #353b48;
        display: block;
        height: 10px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.12),0px 10px 10px rgba(0,0,0,0.22);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .bar:hover{
        box-shadow: 0px 14px 28px rgb(0, 63, 156);
        transition: 1.5s;
        transform: scaleX(1.1);
    }
    .html{
        background: rgb(0, 63, 156);
        display: block;
        height: 10px;
        width: 220px;
        border-radius: 10px;
        text-align: end;
        color: #fff;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    
    }
    
    .css{
        background: rgb(0, 63, 156);
        display: block;
        height: 10px;
        width: 270px;
        border-radius: 10px;
        text-align: end;
        color: #fff;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        
    
    }
    .javascript{
        background: rgb(0, 63, 156);
        display: block;
        height: 10px;
        width: 210px;
        border-radius: 10px;
        text-align: end;
        color: #fff;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    
    }
    .boostrap{
        background: rgb(0, 63, 156);
        display: block;
        height: 10px;
        width: 188px;
        border-radius: 10px;
        text-align: end;
        color: #fff;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    
    }
    #skills-par{
        margin-left: 50px;
        font-size: 10px;
        text-decoration: none;
        color: #fff;
        background: rgb(6, 45, 172);
        padding: 2px;
    
    }
    #projects{
   

       
        position: absolute;
        top: 600px;
        left: 60px;
        height: 400px;
        width: 300px;
        
        color: #fff;
        padding: 20px;
        border: 1px solid rgb(5, 5, 5);
        box-shadow: 0px 0px 30px rgb(0, 63, 156);
        border-radius: 15px;
    
    
    
    }
    
    #my-project{
        
        width: 250px;
        margin-left: 1px;
        margin-top: -40px;
        text-align: center;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
    }
    #my-project:hover{
        text-shadow : 0px 25px 8px rgb(0, 94, 255);
        transition: 1s;
    }
    #skills-par{
        margin-left: 250px;
        font-size: 10px;
        text-decoration: none;
        color: #fff;
        background: rgb(6, 45, 172);
        padding: 5px;
    
    }
    .portfolio-img{
        float: left;
        height: 70px;
        width: 120px;
        position: absolute;
        top: 50px;
        left: 20px;
        filter: blur(1px);
        text-decoration: none;
        border: 2px solid #353b48;
        border-radius: 9px;
        
    
    
    }
    #contact-img{
        position: absolute;
        top:180px ;
        left: 20px;
        height: 70px;
        width: 120px;
        filter: blur(1px);
        border-radius: 9px;
    }
    #contact-p{
        position: absolute;
        top: 185px;
        left: 165px;
        text-decoration: none;
        text-align: justify;
        font-family: cursive;
        color: white;
        font-size: 11px;
    }
    .cal-p{
        position: absolute;
        top: 310px;
        left:165px;
        text-decoration: none;
        text-align: justify;
        font-family: cursive;
        color: white;
        font-size: 11px;
    }
    
    #cal-img{
        position: absolute;
        top:305px ;
        left: 20px;
        height: 70px;
        width: 120px;
        filter: blur(1px);
        border-radius: 9px;
    
    }
    p{
        text-align: justify;
        font-family: cursive;
        color: white;
        position: absolute;
        top: 50px;
        left:165px;
        font-size: 11px;
    }
    #about{
        position: absolute;
        top: 1200px;
        left: 30px;
        height: 450px;
        width: 400px;
        border: 1px solid rgb(27, 26, 26);
        border-radius: 13px;
        box-shadow: 0px 0px 30px rgb(0, 63, 156);
        color: #fff;
        
    
    
    }
    #about > h1{
        font-family: cursive;
        margin-left: -65px;
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
       padding-bottom: 30px;
       text-align: center;
        margin-top: -25px;
    }
    #about > h1:hover{
        text-shadow : 0px 25px 8px rgb(0, 94, 255);
        transition: 1s;
    }
    #about pre{
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    #saud2{
        height: 90px;
        width: 85px;
        position: absolute;
        left: 270px;
        top: -100px;
        margin-top: 140px;
        border-radius: 50%;
        border: 1px solid rgb(27, 27, 27);
   
       
    }
    #saud2:hover{
        transform: scale(2.0.1);
        
    }
    .copyright{
        height: 50px;
        width: 470px;
        background :rgb(0, 63, 156);
        position: absolute;
        top: 1700px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        font-size: 11px;
    } 
}